<!--The view declares that it expects a model of type Movie-->
@model MvcMovie.Models.Movie

@{
ViewData["Title"] = "Create";
}

<h1>@ViewData["Title"]</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!--make a POST request to /Create route? I thought form's default method is GET-->
        <form asp-action="Create">
            <!--
            Displays a summary of validation errors.
            Uses the text-danger class to style the text as red.
            -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <!--generate a label for 'Title' property-->
                <label asp-for="Title" class="control-label"></label>
                <!--generate an input field for 'Title' property-->
                <input asp-for="Title" class="form-control" />
                <!--display validation message for title property-->
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<!--
Renders a partial view that includes client-side validation scripts.
Ensures validation is performed on the client side.
-->
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
